.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.site-navigation {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 2rem;
  justify-content: space-evenly;
}
